{% extends "base.html.twig" %}

{% block content %}
    <style>
        p.solid {max-width: 300px; max-height:50px; overflow: hidden; text-overflow: ellipsis;}' 
    </style>

    <h1 style="text-align:center" >Votre bonheur :</h1> 
    {% set prix = 0 %}
    {% if panier != null %}
    {% for objet in panier.objets %}
        {% set prix = prix + objet.Prix %}
         <div class="container lightmode_container" id="container" style="float:left; width:70%; margin:5px; padding:10px; border-radius:2%">
            <div>
                {% if objet.image is not empty %}
                    <a style="float:left; margin-right:5px;" href="{{ path('objet_show', {'id': objet.id}) }}"><img src="{{ asset(objet.image.webPath) }}" alt="{{ objet.Nom }}" style="max-width: 150px;"/></a>
                {% endif %}
                <a href="{{ path('objet_show', {'id': objet.id}) }}"><b style="font-size:30px;">{{ objet.Nom }}</b></a><br/>
                Marque : <i>{{ objet.Marque }}</i> |  Catégorie : {% for category in objet.categories %} {{category.nom}} |{% endfor %}
                <b>{{ objet.Prix }}€</b>
                <br/>
                <a class="btn btn-danger" style="width:150px" href="{{ path('app_objet_removecart', {'id': objet.id}) }}">Retirer du panier</a></span>
            </div>

        </div>
    {% endfor %}
    {% endif %}

    {% if prix != 0 %}
    <ul class="nav flex-column lightmode_nav" id="nav" style="float:left; margin:5px; padding:5px width:22%; border-radius:2%">
        <h6 class="display-6"> Coût total : {{prix}}€ </h6><br/>
        <a class="btn btn-success" style="width:180px" href="{{ path('panier_pay') }}">Passer commande</a></span>
        <button onclick="switch_color()" class="lightmode_body" id="but" style="; margin:5px; border-radius:5%; width:40%">THEME</button>
    </ul>
    {% else %}
    <h3 class="display-3">Panier vide !</h3>
    {% endif %}
{% endblock %}
