{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block content %}
    <h1 style="text-align: center">Catégories</h1>
    <a href="{{ path('categories_new') }}" class="btn btn-primary">Créer une catégorie</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.nom }}</td>
                <td>
                    <a href="{{ path('categories_show', {'id': category.id}) }}" class="btn btn-sm btn-warning">show</a>
                    <a href="{{ path('categories_edit', {'id': category.id}) }}" class="btn btn-sm btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
