{% extends "base.html.twig" %}

{% block content %}
    <style>
        p.solid {max-width: 300px; max-height:50px; overflow: hidden; text-overflow: ellipsis;}' 
    </style>

    <h1 style="text-align:center" >Trouvez votre bonheur...</h1> 
    <div class="d-flex justify-content-between align-items-center mb-3">
        <form action="" method='GET'>
                <div class="input-group mb-3">
                    <input id="rech" style="margin-left:10px" type="text" name="s" placeholder="Votre recherche" class="form-control" value = '{{ app.request.get("s", "") }}'>
                    <button id="rech" style="margin-left:10px" type="submit" class="btn btn-light">Rechercher</i></button>
                </div>
        </form>
    </div>
    
       <ul class="nav flex-column lightmode_nav" id="nav" style="float:left; margin:5px; padding:2px width:auto; border-radius:2%">
            <h6 class='nav-item'>Catégories</h6>
            <li class="nav-item"><a href="{{ path('objet_index') }}">Toutes</a></li>
            {% for cat in categoryList %}
            <li class="nav-item"><a href="{{ path('categories_show', {'id': cat.id}) }}">{{cat.nom}}</a></li>
            {% endfor %}
            <button onclick="switch_color()" class="lightmode_body" id="but" style="float:left; margin:5px; border-radius:5%;">THEME</button>
        </ul>
         <div class="nav flex-column  lightmode_container" id="container" style="width:auto; margin:5px; padding:10px; border-radius:2%; right:0px;">
            <div class="row">
            {% for objet in objets %}
                <div class="col-md-4">
                    {% if objet.image is not empty %}
                        <a href="{{ path('objet_show', {'id': objet.id}) }}"><img src="{{ asset(objet.image.webPath) }}" alt="{{ objet.Nom }}" style="max-width: 250px;max-height: 300px;"/></a>
                    {% endif %}
                    <br/>
                    <a href="{{ path('objet_show', {'id': objet.id}) }}"><b style="font-size:23px;">{{ objet.Nom }}</b></a>
                    <p class='solid'>{{ objet.Description }}</p>
                    Marque : <i>{{ objet.Marque }}</i> |  Catégorie : {% for category in objet.categories %} {{category.nom}} {% endfor %}
                    <p>{{ objet.Prix }}€</p>
                    <br/>
                </div>
            {% endfor %}
            </div>
        </div>   
{% endblock %}
