{% extends "base.html.twig" %}
{% block body %}
    <h1>Objet index</h1>
    <a href="{{ path('objet_new') }}">Create new</a>
         <div class="container">
            <div class="row">
            {% for objet in objets %}
                <div class="col">
                    {% if objet.image is not empty %}
                        <a href="{{ path('objet_show', {'id': objet.id}) }}"><img src="{{ asset(objet.image.webPath) }}" alt="{{ objet.Nom }}" style="max-width: 150px;"/></a>
                    {% endif %}
                    <br/>
                    {{ objet.id }} | <a href="{{ path('objet_show', {'id': objet.id}) }}"><b class="h5">{{ objet.Nom }}</b></a>
                    <br/>
                    {{ objet.Description }} <br/>
                    <i>{{ objet.Marque }}</i> |  {{ objet.Categorie }}
                    <h5 class="display-5">{{ objet.Prix }}€</h5>
                    <a href="{{ path('objet_edit', {'id': objet.id}) }}">Edition [admin]</a>
                </div>
            {% endfor %}
        </div>
{% endblock %}
